<div class="card">
  <h5 class="card-title">Global Service - Memory Leak</h5>
  <div class="card-body">
    <app-ml-main-component></app-ml-main-component>
  </div>
</div>

<div class="card">
  <h5 class="card-title">Service destroyed in Component</h5>
  <div class="card-body">
    <app-sic-parent-component></app-sic-parent-component>
  </div>
</div>


<div class="card">
  <h5 class="card-title">Global Service - With AutoUnsubscribe decorator</h5>
  <div class="card-body">
    <app-gs-main-component></app-gs-main-component>
  </div>
</div>